<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        Arc<span class="gis">GIS</span> Open Data
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">GeoNet</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="https://i.imgur.com/hMQnmV4.jpg" class="navbar-icon">Jack<span class="caret"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="cal-header">
  <div class="container">
    <h3>Open Data API Explorer</h3>
    <ul class="nav nav-tabs">
      <li role="presentation" class="hidden-xs">
        {{#link-to 'api-explorer.env' 'dev' }}Dev{{/link-to}}
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'api-explorer.env' 'qa' }}QA{{/link-to}}
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'api-explorer.env' 'production' }}Production{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div class="alert alert-warning" role="alert">
  Toggling between different environments is not yet implemented. The Api Explorer will be set on the first environment you choose.
</div>

<!-- application.hbs -->
{{outlet}}
