<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Arc<span class="gis">GIS</span> Open Data</a>
    </div><!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">GeoNet</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="https://i.imgur.com/hMQnmV4.jpg" class="navbar-icon">Jack<span class="caret"></span>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="cal-header">
  <div class="container">
    <h3>Open Data API Explorer</h3>
    <ul class="nav nav-tabs">
      <li role="presentation" class="dropdown visible-xs-block">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-dashboard" aria-hiden="true"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>{{#link-to 'api-explorer'}}Api Explorer{{/link-to}}</li>
          <li>{{#link-to 'documentation'}}Documentation{{/link-to}}</li>
          <li>{{#link-to 'guides'}}Guides{{/link-to}}</li>
          <li>{{#link-to 'contact-the-developers'}}Contact The Developers{{/link-to}}</li>
        </ul>
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'api-explorer' }}Api Explorer{{/link-to}}
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'documentation' }}Documentation{{/link-to}}
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'guides' }}Guides{{/link-to}}
      </li>
      <li role="presentation" class="hidden-xs">
        {{#link-to 'contact-the-developers' }}Contact The Developers{{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="alert alert-warning" role="alert">
    Under Construction
  </div>

  <!-- application.hbs -->
  {{outlet}}
</div>
